<section class="hero">
    <div class="container">
        <!-- це використовуємо будь де -->
        <h1 class="section-title section-title--orange">Lorem lorem</h1>

        <!-- це лише в блокові з класом hero -->
        <h1 class="hero__title">Lorem lorem</h1>
        <!--  -->

        <!-- робимо блок social-links елементом блоку hero -->
        <ul class="social-links hero__socials">
            <li class="social-links__item">
                <a href="#" class="social-links__link">
                    <!-- <img src="./" class="social-links__link-img" alt="dad"> -->
                </a>
            </li>
            <li class="social-links__item">
                <a href="#" class="social-links__link">Посилання 2</a>
            </li>
            <li class="social-links__item">
                <a href="#" class="social-links__link">Посилання 3</a>
            </li>
            <li class="social-links__item">
                <a href="#" class="social-links__link">Посилання 4</a>
            </li>
        </ul>

        <!-- до social-links додаємо мод-р  -->
        <ul class="social-links social-links--vertical">
            <li class="social-links__item">
                <a href="#" class="social-links__link">Посилання 1</a>
            </li>
            <li class="social-links__item">
                <a href="#" class="social-links__link">Посилання 2</a>
            </li>
            <li class="social-links__item">
                <a href="#" class="social-links__link">Посилання 3</a>
            </li>
            <li class="social-links__item">
                <a href="#" class="social-links__link">Посилання 4</a>
            </li>
        </ul>


        <button type="button" class="btn">Кнопка</button>
    </div>
</section>


