<section class="hero">
    <div class="container">
        <!-- це використовуємо будь де -->
        <h1 class="section-title section-title--orange">Lorem lorem</h1>

        <!-- це лише в блокові з класом hero -->
        <h1 class="hero__title">Lorem lorem</h1>
        <!--  -->

        <!-- робимо блок social-links елементом блоку hero -->
        <ul class="social-links hero__socials">
            <li class="social-links__item">
                <a href="#" class="social-links__link">
                    <!-- <img src="./" class="social-links__link-img" alt="dad"> -->
                </a>
            </li>
            <li class="social-links__item">
                <a href="#" class="social-links__link">Посилання 2</a>
            </li>
            <li class="social-links__item">
                <a href="#" class="social-links__link">Посилання 3</a>
            </li>
            <li class="social-links__item">
                <a href="#" class="social-links__link">Посилання 4</a>
            </li>
        </ul>

        <!-- до social-links додаємо мод-р  -->
        <ul class="social-links social-links--vertical">
            <li class="social-links__item">
                <a href="#" class="social-links__link">Посилання 1</a>
            </li>
            <li class="social-links__item">
                <a href="#" class="social-links__link">Посилання 2</a>
            </li>
            <li class="social-links__item">
                <a href="#" class="social-links__link">Посилання 3</a>
            </li>
            <li class="social-links__item">
                <a href="#" class="social-links__link">Посилання 4</a>
            </li>
        </ul>


        <button type="button" class="btn">Кнопка</button>
    </div>
</section>

<!-- ТАК НЕ РОБИМО -->
<h1 class="hero__title">Lorem lorem</h1>
<!--  -->

<section class="section-hero">
    <div class="container">
        <h1 class="section-hero__title">Lorem lorem</h1>
        <h1 class="section-title">Lorem lorem</h1>
        <button type="button" class="btn">Кнопка</button>
    </div>
</section>

<section class="team">
    <div class="container">
        <h2 class="section-title">наша команда</h2>
        <ul class="team-list">

            <div class="team-item">
                <!-- <img src="./" class="team-list__img" alt="Ігор"> -->
                <h3 class="team-item__title">Ігор</h3>
                <p class="team-item__position">Product Designer</p>

                <ul class="social-links">
                    <li class="social-links__item">
                        <a href="#" class="social-links__link">
                            <!-- <img src="./" class="social-links__img" alt="dad"> -->
                            <!-- <img src="./" class="social-links__link-img" alt="dad"> -->
                        </a>
                    </li>
                    <li class="social-links__item">
                        <a href="#" class="social-links__link">Посилання 2</a>
                    </li>
                    <li class="social-links__item">
                        <a href="#" class="social-links__link">Посилання 3</a>
                    </li>
                    <li class="social-links__item">
                        <a href="#" class="social-links__link">Посилання 4</a>
                    </li>
                </ul>
            </div>

        </ul>
    </div>
</section>

