<section class="example" id="uk">
  <h2>HTML-partials</h2>
  <p class="screen-reader-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae harum laboriosam adipisci enim tempore aperiam minus ad dolore ea aut voluptate sit, quod sed vel nobis, blanditiis ut, odio quam.</p>
  <button type="button" class="example-btn">Кнопка 2</button>

  <form action="#" class="contact-form">
    <select name="test" id="dd" class="contact-form__select">
      <option value="1">11</option>
    </select>

    <input type="text" class="contact-form__name">
  </form>

  <!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->
  <img src="images/logo.png" alt="logo" width="320" />

  <p>
    The
    <a
      href="https://github.com/posthtml/posthtml-include"
      target="_blank"
      rel="noopener noreferrer"
    >
      posthtml-include
    </a>
    plugin allows you to add code from other HTML files (fragments) to HTML page
    files. Fragments are stored in the <code>src/partials</code> folder. The
    addition occurs when compiling page files, such as <code>index.html</code>.
  </p>

  <p>
    This <code>example.html</code> file is an example of such a snippet, with
    the markup of a certain part of the main page. This is very convenient for
    team development on student projects, when several people write in one HTML
    file at once.
  </p>

  <p>
    The syntax for adding a fragment to the main file is:
    <code> &lt;include src="./partials/filename.html"&gt;&lt;/include&gt;</code>
  </p>

  <div class="background"></div>
</secti>
